<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 banner-text">
                <h2 class="animate__animated animate__slideInLeft animate__delay-1s">
                    Discover Restaurant <br>
                    & Delicious Food
                </h2>
                <div class="search-food animate__animated animate__slideInLeft animate__delay-1s">
                    <div class="input-group search mt-4">
                        <input type="text" class="form-control" placeholder="search restaurant,food">
                        <button class="btn search-btn " type="button" id="button-addon2">GO</button>
                    </div>
                </div>
                <div class="mt-5 location animate__animated animate__slideInLeft animate__delay-2s">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>Hydrabad</p>
                </div>

            </div>
            <div class="col-md-7 food-image">
                <div class="polka-dot"></div>
                <img class="lettuc-img" height="670px" src="assets/images/banner/lettuc.png" alt="">
                <img height="590px" class="food-plate animate__animated animate__tada animate__delay-1s"
                    src="assets/images/banner/food-plate.png" alt="">
                <div class="polka-gray-dot"></div>
            </div>
        </div>
    </div>
</section>

<section class="page-section-pt ">
    <div class="container ">
        <div class="row justify-content-evenly">
            <div class="col-md-4 custom-div">
                <div class="vl"></div>
                <p class="title">
                    some top restaurant for <br>
                    dining out or in!
                </p>
            </div>

            <div class="col-md-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit esse sed corporis expedita unde.
                    Illum
                    perspiciatis magni doloremque ipsa dolor.
                </p>
            </div>

        </div>
    </div>
</section>

<section class="page-section-pt mb-5">
    <div class="container-fluid mt-4 mb-5">
        <div class="row">
            <div class="col-md-4 card-hotel">
                <div class="card  text-white custom-card">
                    <img src="assets/images/hotel/new-hotel1.png" class="card-img" alt="...">
                    <div class="card-img-overlay custom-card-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card-hotel">
                <div class="card text-white custom-card">
                    <img src="assets/images/hotel/hotel2.png" class="card-img" alt="...">
                    <div class="card-img-overlay custom-card-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
                <div class="polka-card-d-dot"></div>
            </div>
            <div class="col-md-2 ">
                <div class="right-arrow">
                    <hr class="line">
                    <a href="#">
                        <span class="right"></span>
                    </a>
                    <a href="#" class="mt-4 see-more ">See more</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="page-section-pt bg-color-book-advance">
    <div class="container-fluid book-advance-container">
        <div class="sticky-lettuc">
            <img width="750px" height="690px" src="assets/images/banner/lettuc-new.png" alt="">
        </div>
        <div class="row book-card-row">
            <div class="col-md-12">
                <div class="card book-ad-card">
                    <div class="card-body book-card-body">
                        <hr class="horizontal-line mt-5">
                        <h3 class="title-advance mb-4">
                            advance booking
                        </h3>
                        <div class="search-restaurants">
                            <div class="input-group custom-vooking-input">
                                <input type="text" class="form-control" placeholder="search-restaurants"
                                    aria-label="search-restaurants" aria-describedby="button-addon2">
                                <button class="btn btn-search" type="button" id="button-addon2">GO</button>
                            </div>
                        </div>
                        <div class="select-booking-time">
                            <div class="col-md-4">
                                <label for="formFile" class="form-label">Date</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option>select</option>
                                    <option selected>15-9-19</option>
                                    <option value="1">16-9-19</option>

                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="formFile" class="form-label">Time</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option>select</option>
                                    <option selected>9.30 PM</option>
                                    <option value="1">10.30PM</option>

                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="formFile" class="form-label">Guests</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option>select</option>
                                    <option value="1" selected>2 people </option>
                                    <option value="2">4 people</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="polka-dots"></div>
        <div class="booking-search-polka">

        </div>
        <div class="fixed-cabbage">
            <img width="295px" src="assets/images/book-hotel/new-cabbage-leaf.png" alt="">
        </div>
    </div>
</section>

<section class="page-section-pt">
    <div class="container">
        <div class="row justify-content-center mb-5 mt-5">
            <div class="col-md-12 food-menu">
                <h3 class="mb-4 text-center ">
                    Explore Our Foods
                </h3>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laudantium error
                    maiores obcaecati, perspiciatis totam velit! Delectus at voluptatem ipsa?</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="card food-menu-card">
                    <img src="assets/images/products/product1.png" class="card-img-top" alt="...">
                    <div class="card-body food-menu-body">
                        <div class="custom-card-header" style="display: flex;">
                            <h5 class="card-title">Ham Sandwich</h5>
                            <h4 class="card-text"> $ 10.50</h4>
                        </div>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card food-menu-card">
                    <img src="assets/images/products/product2.png" class="card-img-top" alt="...">
                    <div class="card-body food-menu-body">
                        <div class="custom-card-header">
                            <h5 class="card-title">Ham Sandwich</h5>
                            <h4 class="card-text"> $ 10.50</h4>
                        </div>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card food-menu-card">
                    <img src="assets/images/products/product3.png" class="card-img-top" alt="...">
                    <div class="card-body food-menu-body">
                        <div class="custom-card-header">
                            <h5 class="card-title">Ham Sandwich</h5>
                            <h4 class="card-text"> $ 10.50</h4>
                        </div>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card food-menu-card">
                    <img src="assets/images/products/product1.png" class="card-img-top" alt="...">
                    <div class="card-body food-menu-body">
                        <div class="custom-card-header" style="display: flex;">
                            <h5 class="card-title">Ham Sandwich</h5>
                            <h4 class="card-text"> $ 10.50</h4>
                        </div>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card food-menu-card">
                    <img src="assets/images/products/product2.png" class="card-img-top" alt="...">
                    <div class="card-body food-menu-body">
                        <div class="custom-card-header">
                            <h5 class="card-title">Ham Sandwich</h5>
                            <h4 class="card-text"> $ 10.50</h4>
                        </div>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card food-menu-card">
                    <img src="assets/images/products/product3.png" class="card-img-top" alt="...">
                    <div class="card-body food-menu-body">
                        <div class="custom-card-header">
                            <h5 class="card-title">Ham Sandwich</h5>
                            <h4 class="card-text"> $ 10.50</h4>
                        </div>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="page-section-pt bg-color-download-app">
    <div class="container">
        <div class="row download-app-row">
            <div class="col-md-6 download-app-column">
                <div class="download-app-header">
                    <div class="vertical-line"></div>
                    <h4>
                        Download app for <br>
                        Exciting Deals
                    </h4>
                </div>
                <div class="download-app-text mt-3">
                    <div></div>
                    <p>Lorem ipsum dolor sit amet, <br>Lorem ipsum dolor sit amet, consectetur elit. </p>
                </div>
                
                <div class="playstore-image">
                    <img src="assets/images/book-hotel/download-app.png" alt="">
                </div>
                
            </div>
            <div class="col-md-6 app-image-column">
                <div class="polka-dot-app"></div>
                
                <div class="app-image">
                    <img height="850px" src="assets/images/book-hotel/mobile-image.png" alt="">
                </div>
                <div class="product-image">
                    <img height="655px"src="assets/images/book-hotel/product-page.png" alt="">
                </div>
                <div class="cabbage-leaf-bg">
                    <img height="520px" src="assets/images/book-hotel/cabbage-leaf.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>