<footer class="page-section-pt footer">
    <div class="container-fluid footer-container">
        <div class="leaf-image">
                <img height="520px" src="assets/images/footer/new-footer-image.png" alt="">
            </div>
        <div class="row footer-row">
            
            <div class="col-md-10 justify-content-center footer-content">
                <h3 class="title text-center mt-4 ">
                    Get notified <br>
                    about new amazing products
                </h3>
                <p class="text-center p-tag  mt-3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <p class="text-center p-tag">
                    It has been the industry's standard dummy text ever since.
                </p>
                <form action="" class="notify-form mt-5">
                    <!-- <div class="searchbox-wrap">
                        <input type="text" placeholder="Search for something...">
                        <button><span><i class="bi bi-arrow-right"></i></span> </button>
                    </div> -->

                    <div class="input-group get-notifiy-email">
                        <input type="text" class="form-control" placeholder="Email">
                        <button class="btn send-btn " type="button" id="button-addon2"><i
                                class="bi bi-arrow-right"></i></button>
                    </div>

                    <!-- <div class="get-notifiy-email input-group ">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                        <button clbuttonss="btn btn--primary btn--inside "><i class="bi bi-arrow-right"></i></button>

                    </div> -->


                </form>
                <div class="navigation mt-4">
                    <a href="">
                        <h4>Product</h4>
                    </a>
                    <a href="">
                        <h4>Company</h4>
                    </a>
                    <a href="">
                        <h4>Learn more</h4>
                    </a>
                    <a href="">
                        <h4>Get in touch</h4>
                    </a>
                </div>
            </div>
           
        </div>
        <div class=" social-icons">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
        </div>
        <div class=" copyright-content" >
            <p> &copy;2022 abcxy</p>
        </div>
    </div>
</footer>
